<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Form</title>
</head>
<body>
    <h2>Submit Your Restaurant</h2>
 
    <form method="post">
        {% csrf_token %}
 
        <label for="id_restaurant">Restaurant:</label><br>
        {{ form.name }}<br><br>
 
        {% comment %} <label for="id_user">User:</label><br>
        {{ form.user }}<br><br>
 
        <label for="id_rating">Rating:</label><br>
        {{ form.rating }}<br><br> {% endcomment %}

 
        <button type="submit">Submit</button>
    </form>
 
</body>
</html>
 
 